{% extends 'base.html.twig' %}

{% block title %}Saisie index{% endblock %}

{% block body %}
    <h1>Saisie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saisie in saisies %}
            <tr>
                <td>{{ saisie.id }}</td>
                <td>{{ saisie.value }}</td>
                <td>{{ saisie.note }}</td>
                <td>
                    <a href="{{ path('saisie_show', {'id': saisie.id}) }}">show</a>
                    <a href="{{ path('saisie_edit', {'id': saisie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('saisie_new') }}">Create new</a>
{% endblock %}
